body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  text-align: center;
}

.search {
  width: 85%;
}

.searchLabel {
  margin-left: 10%;
  background: lightgrey;
  border-radius: 7px;
  padding: 3px;
}

.form-control {
  margin-left: 7%;
}

.tableHead {
  font-size: 50px;
  font-weight: bold;
  margin-left: 215%;
  margin-right: auto;
  margin-bottom: 3%;
}

.table {
  text-align: center;
}

.table td {
  font-size: 30px;
}